#![enable(implicit_some)]
Prefab(
    entities: [
        // Goal post lower left
        PrefabEntity(
            data: (
                sprite_scene: (
                    sheet: Sheet(
                        // TexturePrefab
                        texture: File("sprites/field_ichi_1.png", (
                            "IMAGE", (
                                sampler_info: (
                                    min_filter: Nearest,
                                    mag_filter: Nearest,
                                    mip_filter: Nearest,
                                    wrap_mode: (Tile, Tile, Tile),
                                    lod_bias: (0),
                                    lod_range: (
                                        start: (0),
                                        end: (8000),
                                    ),
                                    comparison: None,
                                    border: (0),
                                    normalized: true,
                                    anisotropic: Off,
                                ),
                            ),
                        )),
                        sprites: [
                            // All sprites in the field spritesheet.
                            // Includes player sprites, nets, ball.
                            List((
                                texture_width: 96,
                                texture_height: 80,
                                sprites: [
                                    (x: 0, y: 64, width: 60, height: 8), // net upper 12
                                    (x: 0, y: 72, width: 60, height: 8), // net lower 13
                                    (x: 60, y: 64, width: 4, height: 4), // ball 14
                                ],
                            ))
                        ],
                        name: "field_ichi",
                    ),
                    transform: (
                        translation: (128.0, 4.0, 0.0),
                    ),
                ),
                collision_box: (
                    upper_left_distance: [-31.0, 4.0],
                    lower_right_distance: [-27.0, -4.0],
                ),
                animation_set: (
                    animations: [],
                ),
                extras: StaticData,
            ),
        ),
        // Goal post upper left
        PrefabEntity(
            data: (
                sprite_scene: (
                    transform: (
                        translation: (128.0, 252.0, 0.0),
                    ),
                ),
                collision_box: (
                    upper_left_distance: [-31.0, 4.0],
                    lower_right_distance: [-27.0, -4.0],
                ),
                animation_set: (
                    animations: [],
                ),
                extras: StaticData,
            ),
        ),
        // Goal post lower right
        PrefabEntity(
            data: (
                sprite_scene: (
                    transform: (
                        translation: (128.0, 4.0, 0.0),
                    ),
                ),
                collision_box: (
                    upper_left_distance: [27.0, 4.0],
                    lower_right_distance: [31.0, -4.0],
                ),
                animation_set: (
                    animations: [],
                ),
                extras: StaticData,
            ),
        ),
        // Goal post upper right
        PrefabEntity(
            data: (
                sprite_scene: (
                    transform: (
                        translation: (128.0, 252.0, 0.0),
                    ),
                ),
                collision_box: (
                    upper_left_distance: [27.0, 4.0],
                    lower_right_distance: [31.0, -4.0],
                ),
                animation_set: (
                    animations: [],
                ),
                extras: StaticData,
            ),
        ),
        // LowerNet
        PrefabEntity(
            data: (
                sprite_scene: (
                    render: (
                        sheet: "field_ichi",
                        sprite_number: 1,
                    ),
                    transform: (
                        translation: (128.0, 4.0, 0.2),
                    ),
                ),
                animation_set: (
                    animations: [],
                ),
                collision_box: (
                    upper_left_distance: [-26.0, 2.0],
                    lower_right_distance: [26.0, -6.0],
                ),
                extras: NetData(
                    net: Net(side: LowerSide),
                ),
            ),
        ),
        // UpperNet
        PrefabEntity(
            data: (
                sprite_scene: (
                    render: (
                        sheet: "field_ichi",
                        sprite_number: 0,
                    ),
                    transform: (
                        translation: (128.0, 252.0, -0.2),
                    ),
                ),
                animation_set: (
                    animations: [],
                ),
                collision_box: (
                    upper_left_distance: [-26.0, 6.0],
                    lower_right_distance: [26.0, -2.0],
                ),
                extras: NetData(
                    net: Net(side: UpperSide),
                ),
            ),
        ),
        // Ball
        PrefabEntity(
            data: (
                sprite_scene: (
                    render: (
                        sheet: "field_ichi",
                        sprite_number: 2,
                    ),
                    transform: (
                        translation: (128.0, 128.0, 0.1),
                    ),
                ),
                animation_set: (
                    animations: [],
                ),
                collision_box: (
                    upper_left_distance: [-2.0, 2.0],
                    lower_right_distance: [2.0, -2.0],
                ),
                movement_state: (
                    velocity: [0.0, 0.0],
                    deaccel: 192.0,
                    reset: false,
                ),
                extras: BallData(
                    ball: Ball,
                ),
            ),
        ),
    ],
)
